@{
    ViewData["Title"] = "Home Page";
}
@using IHK.Common
@using IHK.Services
@inject  AccountService _accountService

@await Component.InvokeAsync(nameof(NavbarComponent), new { showSidebar = true, tab = "Suche" })
<div class="tab-content">

    <div id="main_content" class="tab-pane fade">
        <div id="wrapper" class="container-fluid">
            @await Component.InvokeAsync(nameof(SidebarComponent))
            <div id="page-content-wrapper" class="container-fluid ">
                <div class="tab-content">
                    @await Component.InvokeAsync(nameof(MieterComponent))
                    @await Component.InvokeAsync(nameof(WohnungComponent))
                </div>
            </div>
        </div>
    </div>

    <div id="option_content" class="tab-pane fade">
        @await Component.InvokeAsync(nameof(OptionComponent))
    </div>
    @if (await _accountService.HasRole(Model.CurrentUser.UserId, UserRoleType.Admin))
    {
        <div id="admin_content" class="tab-pane fade">
            @await Component.InvokeAsync(nameof(AdminComponent))
        </div>
    }
</div>
<hr />
<footer>
    <p class="text-center">&copy; 2017 - IHK.Web</p>
</footer>


<script>
    $(function () {
        $("#themeLink").attr('href', '@Model.CurrentUser.LayoutThemeViewModel.Link');
    });

    $(document).ready(function () {


        var trigger = $('.hamburger'),
            //overlay = $('.overlay'),
            isClosed = false;
        trigger.click(function () {
            hamburger_cross();
        });

        $(".sidebar-nav .single_a").click(function () {
            $(".sidebar-nav .single_l").removeClass("open");
            $(this).parent().addClass("open");
            $(this).parent().fadeIn("slow");
            //console.log("JO");
        });

        $('.dropdown').on('hide.bs.dropdown', function (e) {
            var target = $(this);
            if (target.hasClass("keepopen")) {
                return false;
            } else {
                return true;
            }
        });

        $('.dropdown').on('click', function (e) {
            if (e.target.className === "dropdown-toggle") {
                var target = $(this);
                if (target.hasClass("keepopen")) {
                    $(this).removeClass("keepopen");
                } else {
                    $(this).addClass("keepopen");
                }
            } else {
                $(".sidebar-nav .single_l").removeClass("open");
                $(this).parent().addClass("open");
                $(this).parent().fadeIn("slow");
            }
        });

        function hamburger_cross() {

            if (isClosed == true) {
                //overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                //overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }
        $('[data-toggle="offcanvas"]').click(function () {            $('#wrapper').toggleClass('toggled');        });

        @*var viewmodel = new ViewModels.HomeViewData(@Html.Raw(Json.Serialize(Model)));
        ko.applyBindings(viewmodel, document.getElementById('home_content'));*@

        $(".selectpicker").selectpicker('refresh');
    });
</script>
