@*@model  IHK.ViewModels.*@
@*@using IHK.Common
@using IHK.Services*@
@*@inject  AccountService _accountService*@


<div id="wohnung_content" class="tab-pane fade">
    <h1>Wohnungszeugs...</h1>
</div>