@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model  IHK.ViewModels.MieterViewModel
@{
    Layout = "_LayoutMieter";
    ViewData["Title"] = "Mieter Page";
}

<div id="mieter_content" class="container-fluid">
    @await Component.InvokeAsync(nameof(MieterPanelComponent))
    @await Component.InvokeAsync(nameof(AdressePanelComponent), new { koPath = "mieter.wohnung.gebaeude.", M = Model.Mieter.Wohnung.Gebaeude.Adresse })
    @await Component.InvokeAsync(nameof(WohnungPanelComponent), new { koPath = "mieter.", M = Model.Mieter.Wohnung })
    @await Component.InvokeAsync(nameof(GebaeudePanelComponent), new { koPath = "mieter.wohnung.", M = Model.Mieter.Wohnung.Gebaeude })

    <div class="row row-buffTop">
        <ul id="errors"></ul>
    </div>

    <div class="row">
        <div class="col-md-3">
            <button type="button" id="sendButton" data-bind="click: sendMsg" class="btn btn-default btn-sm">SEND</button>
        </div>
        <th_crud class="col-md-9"
                 th-show-del="false"
                 th-show-edit="false"
                 th-show-insert="false">
        </th_crud>
    </div>
</div>

<script>
    $(function () {
        $("#themeLink").attr('href', '@Model.CurrentUser.LayoutThemeViewModel.Link');
    });

    var viewmodel = new ViewModels.MieterViewData(@Html.Raw(Json.Serialize(Model)));
    ko.applyBindings(viewmodel, document.getElementById('mieter_content'));
</script>