@model  IHK.ViewModels.NavbarViewModel
@using IHK.Common
@using IHK.Services
@inject  IAccountService _accountService



<div id="navbarContent" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@if (Model.ShowSidebar)
                {
                    <button type="button" class="hamburger is-closed navbar-brand" data-toggle="offcanvas">
                        <span class="hamb-top"></span>
                        <span class="hamb-middle"></span>
                        <span class="hamb-bottom"></span>
                    </button>
                }*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a data-toggle="tab" href="#main_content" aria-expanded="true">Suche</a></li>
                    <li><a data-toggle="tab" href="#option_content">Option</a></li>
                    @if (await _accountService.HasRole(Model.CurrentUser.UserId, UserRoleType.Admin))
                    {
                        <li><a data-toggle="tab" href="#admin_content">Bernutzerverwaltung</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <span class="navbar-brand usr-name" data-bind="text: currentUser.username"></span>
                    </li>
                    <li>
                        <form data-bind="submit: onClickLogout">
                            <button type="submit" class="btn btn-info btn-sm navbar-btn">
                                <span class="glyphicon glyphicon-log-out"></span> Log out
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@*<nav id="navbarContent" class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    @if (Model.ShowSidebar)
    {
        <button type="button" class="hamburger is-closed navbar-brand" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
    }

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item @{if (Model.activeTab == "Suche") {<text>active</text> } }"><a class="nav-link" asp-area="" asp-controller="Home" ifp-action="Index">Suche</a></li>
            <li class="nav-item @{if (Model.activeTab == "Option") {<text>active</text> } }"><a class="nav-link" asp-area="" asp-controller="Option" asp-action="Index">Option</a></li>
            @if (await _accountService.HasRole(Model.UserViewModel.UserId, UserRoleType.Admin))
            {
            <li class="nav-item @{if (Model.activeTab == "Admin") {<text>active</text> } }"><a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Bernutzerverwaltung</a></li>
            }
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <span class="navbar-brand usr-name" data-bind="text: userViewModel.username">yyyy</span>
            </li>
            <li class="nav-item">
                <form data-bind="submit: onClickLogout">
                    <button type="submit" class="btn">
                        <i class="fa fa-sign-out"  ></i> Log out
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>*@

<script>
    var viewmodel = new ViewModels.NavBarViewData(@Html.Raw(Json.Serialize(Model)));
    ko.applyBindings(viewmodel, document.getElementById('navbarContent'));

    //$('ul.navbar-nav > li').click(function (e) {
    //    //e.preventDefault();
    //    //console.log("AYE");
    //    $('ul.navbar-nav > li').removeClass('active');
    //    $(this).addClass('active');
    //});   
</script>