@{
    ViewData["Title"] = "Home Page";
}

<div id="wrapper" class="container-fluid">
    @await Component.InvokeAsync(nameof(NavbarComponent), new { showSidebar = true, tab = "Suche" })
    @await Component.InvokeAsync(nameof(SidebarComponent))
    <div id="page-content-wrapper" class="container-fluid ">

        <div class="tab-content">
            <div id="mieter_content" class="tab-pane fade in active">
                <h3>Mieter</h3>
                <p>Suchmaske...</p>
            </div>
            <div id="wohnung_content" class="tab-pane fade">
                <h3>Wohnung</h3>
                <p>Suchmaske...</p>
            </div>
        </div>




        <hr />
        <footer>
            <p>&copy; 2017 - IHK.Web</p>
        </footer>
    </div>
</div>

<script>
    $(function () {
        $("#themeLink").attr('href', '@Model.CurrentUser.LayoutThemeViewModel.Link');
    });

    $(document).ready(function () {
        var trigger = $('.hamburger'),
          //overlay = $('.overlay'),
         isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        $(".sidebar-nav li a").click(function () {
            $(".sidebar-nav").find(".open").removeClass("open");
            $(this).parent().addClass("open");
            $(this).parent().fadeIn("slow");
            console.log("JO");
        });

        function hamburger_cross() {

            if (isClosed == true) {
                //overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                //overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });

        @*var viewmodel = new ViewModels.HomeViewData(@Html.Raw(Json.Serialize(Model)));
        ko.applyBindings(viewmodel, document.getElementById('homeView'));*@
    });
</script>
